{% extends 'layout.html' %}
{% block body %}
    <div class="jumbotron">
        <h1>About Me</h1>
        <p class="lead">Nam aliquam, lacus vitae lobortis sagittis, metus elit elementum eros, ac porttitor enim est at leo. Integer in risus pretium, mattis mauris vitae, pharetra quam. Sed finibus urna sit amet velit interdum pellentesque. In hac habitasse platea dictumst. Nam dapibus, ligula vel semper fringilla, lorem velit volutpat dui, vel luctus dolor metus non nisi. Suspendisse lacinia, velit non pharetra fermentum, sapien risus fermentum lacus, nec ullamcorper elit dolor vitae ex. Vestibulum iaculis hendrerit ultrices. Donec ullamcorper leo vitae facilisis convallis. Donec eget egestas nisl. Nam nibh tellus, congue vel consequat gravida, ultrices eu leo.</p>
    </div>
{% endblock %}